name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-build-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE=openshift-helm-nodejs:${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Docker build (no cache)
        run: |
          docker build --no-cache -t "${IMAGE}" .
          docker images | head -n 20

      - name: Debug image contents
        run: docker run --rm "${IMAGE}" sh -lc "ls -la /app && echo '--- package-lock.json ---' && sed -n '1,40p' /app/package-lock.json || true"


      - name: Trivy scan (fail only on CRITICAL)
        uses: aquasecurity/trivy-action@0.24.0
        with:
            image-ref: openshift-helm-nodejs:ci
            format: table
            severity: CRITICAL
            vuln-type: os,library
            exit-code: '1'

