name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test-build-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        working-directory: app
        run: npm ci

      - name: Run tests
        working-directory: app
        run: npm test

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Helm lint
        run: helm lint helm/openshift-helm-nodejs

      - name: Build image
        run: docker build -t openshift-helm-nodejs:ci .

      - name: Trivy scan (image)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: openshift-helm-nodejs:ci
          format: table
          exit-code: "1"
          severity: "CRITICAL,HIGH"
